<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lag</title>
    <meta name="description" content="A network latency monitor web app">

    <% htmlWebpackPlugin.files.css.forEach(url => { %>
      <style><%= compilation.assets[url.substr(htmlWebpackPlugin.files.publicPath.length)].source() %></style>
    <% }) %>
  </head>
  <body>
    <main>
      <noscript>
        <p>This app requires JavaScript.</p>
      </noscript>

      <div id="chart-area">
        <div id="title"></div>
        <div id="chart"></div>
        <div id="controls-placeholder"></div>
      </div>
    </main>

    <footer>
      <ul>
        <li id="offline-support">
          <%= htmlWebpackPlugin.options.templateData.offlineSupportHtml %>
        </li>
        <li>Built on <%- htmlWebpackPlugin.options.templateData.getBuildDate() %></li>
        <li><a href="https://github.com/frosas/lag" target="_blank" rel="noopener">Source code</a></li>
      </ul>
    </footer>

    <script>
      var app = {
        serviceWorkerUrl: <%= JSON.stringify(htmlWebpackPlugin.files.chunks["service-worker"].entry) %>,
        pingWorkerUrl: <%= JSON.stringify(htmlWebpackPlugin.files.chunks["ping-worker"].entry) %>
      };
    </script>

    <script><%= compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source() %></script>

    <!-- Google Analytics -->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-25757791-2', 'auto');
      ga('send', 'pageview');
    </script>
    <script defer src="https://www.google-analytics.com/analytics.js"></script>
  </body>
</html>
