<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lag</title>
    
    <% htmlWebpackPlugin.files.css.forEach(url => { %>
      <link href="<%= url %>" rel="stylesheet" />
    <% }) %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25757791-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-25757791-2');
    </script>
  </head>
  <body>
    <noscript>
      <p>This app requires Javascript.</p>
    </noscript>

    <div id="chart-area">
      <div id="title"></div>
      <div id="chart"></div>
      <div id="controls-placeholder"></div>
    </div>

    <footer>
      <ul>
        <li id="offline-support">
          <%= htmlWebpackPlugin.options.templateData.offlineSupportHtml %>
        </li>
        <li>Built on <%- htmlWebpackPlugin.options.templateData.getBuildDate() %></li>
        <li><a href="https://github.com/frosas/lag" target="_blank">Source code</a></li>
      </ul>
    </footer>

    <script>
      var app = {
        serviceWorkerUrl: <%= JSON.stringify(htmlWebpackPlugin.files.chunks["service-worker"].entry) %>
      };
    </script>

    <script src="<%- htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>